{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="contact-container">

    <h1>Contact</h1>

    <p>
        Thank you for using my plotting Tool.
    </p>

    <h2>Contact Information</h2>

    <p>
        <strong>Email:</strong>
        <a href="mailto:oalabri09@gmail.com">
            oalabri09@gmail.com
        </a>
    </p>

    <p>
        <strong>GitHub:</strong>
        <a href="https://github.com/Oalabri09" target="_blank">
            github.com/Oalabri09
        </a>
    </p>

    <h2>Feedback</h2>

    <p>
        Please feel free to reach out if:
    </p>

    <ul>
        <li>You discover a bug.</li>
        <li>You have ideas for improving.</li>
        <li>You have questions about how to use the website.</li>
    </ul>

    <p>
        Your feedback helps improve the tool for everyone.
    </p>

</div>

{% endblock %}